{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Welcome to Your Dashboard, {{ user.first_name }}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h2>Today's Schedule</h2>
                </div>
                <div class="card-body">
                    {% if todays_lessons %}
                    <div class="timeline" id="timeline">
                        {% for lesson in todays_lessons %}
                        <div class="timeline-item">
                            <span class="time">{{ lesson.time_slot }}</span>
                            <h3 class="timeline-header">{{ lesson.lesson_title }}</h3>
                            <div class="timeline-body">
                                Subject: {{ lesson.subject_name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-link" id="expandScheduleBtn" onclick="toggleSchedule()"><i
                                class="fas fa-chevron-down"></i></button>
                    </div>
                    {% else %}
                    <p>No lessons scheduled for today.</p>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2>Academic Year Overview</h2>
                </div>
                <div class="card-body">
                    {% if academic_year_overviews %}
                    <div class="d-flex align-items-center">
                        <button class="btn-custom-prev" onclick="$('#academicYearCarousel').carousel('prev')">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <div id="academicYearCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for overview in academic_year_overviews %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="carousel-content">
                                        <h4>{{ overview.term }}</h4>
                                        <p>Curriculum: {{ overview.curriculum }}</p>
                                        <p>Term Duration: {{ overview.duration }}</p>
                                        <p>Subjects:</p>
                                        <ul>
                                            {% for subject in overview.subjects %}
                                            <li>{{ subject }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="btn-custom-next" onclick="$('#academicYearCarousel').carousel('next')">
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                    {% else %}
                    <p>No academic year overviews available.</p>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Progress Tracker</h2>
                </div>
                <div class="card-body">
                    <!-- Placeholder for progress bars/graphs -->
                    <canvas id="progressChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
