{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vh-100" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                <!-- Verification Message -->
                {% if request.GET.command == 'verification' and request.GET.email %}
    <div class="text-center mb-4" role="alert" style="border-radius: 1rem; background-color: #ffcccb; color: #333; padding: 20px; margin-bottom: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        You're almost there! We've sent a verification link to your email at <strong>{{ request.GET.email }}</strong><br><br>Just click on the link to complete your registration.
        <br><br>
        If you've already activated your account, you can <a href="{% url 'login' %}" style="color: #333; text-decoration: underline;">sign in here</a>.
    </div>
{% else %}


                <div class="card" style="border-radius: 1rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                    <div class="card-header text-center" style="background-color: #ffcccb; color: #333;">
                        <h2>Login to Instruct</h2>
                    </div>
                    <div class="card-body p-5" style="background-color: #fff; color: #333;">
                        {% include 'includes/alerts.html' %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" placeholder="Email" required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" placeholder="Password" required />
                            </div>
                            <br>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <a href="{% url 'forgot_password' %}" style="color: #6c757d;">Forgot password?</a>
                                <button class="btn btn-md px-4" type="submit" style="background-color: #ffcccb; color: #333; border: none;">Login</button>
                            </div>

                            <div class="text-center">
                                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" style="color: #333;">Sign Up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
