{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vh-100" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6"> <!-- Increased card width -->
                <div class="card" style="border-radius: 1rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                    <div class="card-header text-center" style="background-color: #ffcccb; color: #333;">
                        <h2>SignUp to Instruct</h2>
                    </div>
                    <div class="card-body p-5" style="background-color: #fff; color: #333;">

                        {% include 'includes/alerts.html' %}

                        <!-- Display form errors at the top of the form -->
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
<!--                                <strong>Please correct the following errors:</strong>-->

                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}

                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}

                            <div class="row">
                                {% for field in form %}
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <br>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <a href="{% url 'forgot_password' %}" style="color: #6c757d;">Forgot password?</a>
                                <button class="btn btn-md px-4" type="submit"
                                        style="background-color: #ffcccb; color: #333; border: none;">Sign Up
                                </button>
                            </div>

                            <div class="text-center">
                                <p class="mb-0">Already have an account? <a href="{% url 'login' %}"
                                                                            style="color: #333;">Log In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
