{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            {% include 'includes/alerts.html' %}
            <form method="post" action="{% url 'reset_password' %}">
              {% csrf_token %}

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                <p class="text-white-50 mb-5">Please enter your new password!</p>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="typeNewPasswordX" class="form-control form-control-lg" name="password" />
                  <label class="form-label" for="typeNewPasswordX">New Password</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="typeConfirmPasswordX" class="form-control form-control-lg" name="confirm_password" />
                  <label class="form-label" for="typeConfirmPasswordX">Confirm New Password</label>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'login' %}">Got password? Login</a></p>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>
              </div>

              <div>
                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Sign Up</a></p>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
